<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <style>
            table form { margin-bottom: 0; }
            form ul { margin-left: 0; list-style: none; }
            .error { color: red; font-style: italic; }
            body { padding-top: 20px; }
        </style>
    </head>

    <body>
		<div class="container navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="#">SSH Remote Actions</a>
		    
			<ul class="nav">
				{% for modulo in modulos %}
				<li class="{{ modulo.active }}">
					<a href="{{ path(modulo.name) }}">{{ modulo.title }}</a>
				</li>
				{% endfor %}
				<li>
					<a href="{{ path('logout') }}">Logout</a>
				</li>
			</ul>
		  </div>
		</div>
	
	    <div class="container">
		{% block content %}{% endblock %}
		</div>
	    <div id="footer" class="container">
	        {% block footer %}
	            <hr />
	            <a href="https://github.com/cristianszwarc/sshra">Source at GitHub</a>
	        {% endblock %}
	    </div>
    </body>
</html>
